html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #f8f9fa;
  font-size: 2rem;
  /*! chwilowy fotn size */
}

/* NAV BAR */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 8rem;
  align-items: center;
  background-color: #9c36b5;
}

.main-nav-list {
  display: flex;
  gap: 5rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #f8f9fa;
  transition: all 1s;
  display: inline-block;
}

.main-nav-link:hover,
.main-nav-link:active {
  transform: rotate(25deg);
}

.nav-img {
  width: 4rem;
  transform: rotate(45deg);
}

/* Main Section */
.contianer {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.458),
      rgba(0, 0, 0, 0.458)
    ),
    url("./imgs/cinema_background.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

/* Accordion style */

.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50rem;
}

.accordion-text {
  background-color: #9c36b5;
  padding: 1.6rem 3.2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 700;
}

.accordion-text:hover {
  background-color: #862e9c;
}

.accordion-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}
/* Accordion links */

.accordion-link:link,
.accordion-link:visited {
  color: #f8f9fa;
  text-decoration: none;
  font-weight: 400;
  transition: all 1s;
  display: inline-block;
}

.accordion-link:hover,
.accordion-link:active {
  transform: rotate(5deg);
}
.hidden-box {
  display: none;
  background-color: #777777;
  padding: 0 3.2rem 1.6rem 3.2rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.accordion-icon {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  color: #fff;
}

.open .hidden-box {
  display: block;
}

.accordion-list-item {
  padding-top: 0.5rem;
}

/* Carousel style */
.carousel {
  /* width: 38rem;
  position: relative;
  display: grid;
  place-items: center; */
  /* Te place center moze mi psuc to wszytko weic zobacyzmy jeszcze i moze bez grid  */
  /* max-width: 80rem; */
  /* overflow: hidden; */
  display: grid;
  height: 100%;
}

.wraper {
  width: 38rem;
  position: relative;
  display: grid;
  place-items: center;
  /* Te place center moze mi psuc to wszytko weic zobacyzmy jeszcze i moze bez grid  */
  max-width: 80rem;
  /* ! Narazie wyłaczam overflow */
  overflow: hidden;
}
.tymczasowy {
  width: 100%;
}

/* carousel buttons */

.btn-icon {
  font-size: 6rem;
  display: block;
  color: red;
  position: absolute;
  z-index: 1;
  background-color: #862e9c;
  border-radius: 50%;
  cursor: pointer;
}

/* ! Jak nie będzie mi się zgadzało ułożenie guzików przy zmneijszaniu ekranu to moge je wbić po prostu w zdjęcie */
.left {
  top: 50%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  transform: translate(50%, -50%);
}
.right {
  top: 50%;
  right: 0%;
  /* transform: translate(50%, -50%); */
  transform: translate(-50%, -50%);
}

/* Carousel img */
.slide {
  width: 100%;
  max-width: 80rem;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ! Footer */
footer {
  background-color: #f1f3f5;
}
.footer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  max-width: 120rem;
  margin: auto;
  /* tymczasowy kolor  */
  color: black;
  /* margin-top: 5rem; */
  padding: 5rem 0 5rem 0;
  justify-items: center;
  gap: 5rem;
  border-top: 1px solid #ddd;
  align-items: center;
}

.social-links {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  justify-content: center;
}

.img-footer {
  width: 10rem;
  transform: rotate(45deg);
  margin-bottom: 4rem;
}

.logo-facebook,
.logo-instgram,
.logo-twitter {
  stroke: red;
  font-size: 3rem;
}

.footer-link {
  width: 4rem;
  height: 4rem;
  display: inline-block;
}

/* Footer kontakt */
.kontakt {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.kontakt:first-child {
  gap: 4rem;
}
/* ! Strona CENNIk */
.ceny-bilet-link:link,
.ceny-bilet-link:visited,
.ceny-grupowe-link:link,
.ceny-grupowe-link:visited {
  text-decoration: none;
  color: #9c36b5;
  transition: all 1s;
  display: inline-block;
  text-decoration: none;
}
.ceny-bilet-link:hover,
.ceny-bilet-link:active,
.ceny-grupowe-link:hover,
.ceny-grupowe-link:active {
  transform: rotate(25deg);
  scale: 1.5;
}

.cennik-header {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.contianer-cennik {
  color: #777777;
  max-width: 120rem;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.cennik1,
.cennik2 {
  display: flex;
  margin-top: 5rem;
  line-height: 1.5;
  gap: 10rem;
}
.rodzaj-biletu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.bilety {
  font-weight: 800;
  color: #9c36b5;
}

.klub {
  font-weight: 600;
}

.hidden-cennik {
  display: none;
}

.kontakt-cennik:link,
.kontakt-cennik:visited {
  text-decoration: none;
  color: #9c36b5;
  transition: all 1s;
  display: inline-block;
  font-weight: 700;
}

.kontakt-cennik:hover,
.kontakt-cennik:active {
  transform: rotate(25deg);
  scale: 1.5;
}

.cennik1,
.cennik2 {
  min-height: 21rem;
  color: #777777;
  max-width: 120rem;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* !MOBILE DESIGN */
/* 1200 /16 = 75rem */
@media (max-width: 75rem) {
  .contianer {
    padding: 0 2rem 0 2rem;
  }
  .footer {
    padding: 4rem 2rem 0 2rem;
  }
  .contianer-cennik,
  .cennik1,
  .cennik2 {
    padding: 0 4rem 0 4rem;
  }
}

/* 1000 /16 = 63 rem */
@media (max-width: 63rem) {
  .footer {
    padding: 4rem 2rem 0 4rem;
  }
}

/* 900 /16 = 56 rem */
@media (max-width: 56rem) {
  body {
    font-size: 1.8rem;
  }
  .footer {
    padding: 4rem 4rem 4rem 4rem;
    grid-template-columns: 1fr 1fr 4fr;
    gap: 4rem;
  }
  .map {
    width: 100%;
  }
  .carousel,
  .wraper {
    width: 30rem;
  }
}
/* 850 /16 = 53 */
@media (max-width: 53rem) {
  .logo-footer {
    justify-self: center;
  }
  .social-links {
    gap: 1rem;
  }
}
/* 652 / 16 = 41 */
@media (max-width: 41rem) {
  .carousel,
  .wraper {
    width: 25rem;
  }
  .accordion {
    font-size: 1.5rem;
  }
  .footer {
    gap: 2rem;
    padding: 2rem 2rem 2rem 4rem;
  }
  .img-footer {
    width: 8rem;
  }
  .accordion-text {
    padding: 1.2rem 3rem;
  }
  .hidden-box {
    padding: 0 1.6rem 0.8rem 1.6rem;
  }
}

/* 567 */
@media (max-width: 36rem) {
  .accordion {
    font-size: 1.2rem;
    max-width: 90%;
  }
  body {
    font-size: 1.4rem;
  }
  .accordion-text {
    padding: 0.8rem 1.6rem;
  }
  .carousel,
  .wraper {
    width: 23rem;
  }
}

/* 500 */
@media (max-width: 31rem) {
  body {
    overflow: scroll;
  }
  .contianer {
    padding-top: 2rem;
    flex-direction: column;
    height: 75rem;
    gap: 2rem;
  }

  .accordion {
    align-items: center;
  }
  .item {
    width: 70%;
  }
  .footer {
    grid-template-columns: 1fr;
  }
}

/* 450 */
@media (max-width: 28rem) {
  .main-nav-list {
    gap: 2rem;
  }
}

/* 380 */
@media (max-width: 23.75rem) {
  .main-nav-list {
    align-items: center;
  }
  .header {
    gap: 2rem;
  }
}

/* !Media zrobione do 300px */
