.seat-map{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.screen{
    width: 600px;
    height: 80px;
    background-color: lightslategray;
    margin-bottom: 40px;
}

.ekran{
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    padding: 25px;
}

.rzad{
    display: inline-block;
    justify-content:center;
}

.row-number{
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
}
.seat{
    display: inline-block;
    flex-direction: column;
    align-content: center;
    margin-right: 5px;
    cursor: pointer;
}

.seat:hover{
    color: aqua;
}

.seat.selected {
    background-color: green;
}

.seat-circle{
    width: 25px;
    height:25px;
    border-radius: 80%;
    background-color: #9863d0;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.seat-number{
    height: 28px;
    line-height: 5px;
    font-size: 12px;
    display: flex;
    margin-left:7px;
}

.summary-table{
    margin-top:20px;
}

.summary-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.summary-table th,
.summary-table td {
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.summary-table th {
    font-weight: bold;
}

.summary-table td:last-child {
    text-align: right;
}

